<!-- <img src="serviceData/img/loginBg/loginBg.jpg" class="img-responsive" alt="Responsive image"> -->
<p ng-bind='{{header}}'></p>
<!-- <div id='js-header' header-Dir data='{{header}}'>
    <p>VJ</p>
</div> -->

<div ng-controller="headerCtrl">
    <header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">VJ</a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <a href="#top" role="button" class="navbar-brand">
                        VJ
                    </a>
                    <li class="dropdown">
                        <a role="button" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                            Directives <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#accordion">Accordion</a></li><li><a href="#alert">Alert</a></li><li><a href="#buttons">Buttons</a></li><li><a href="#carousel">Carousel</a></li><li><a href="#collapse">Collapse</a></li><li><a href="#datepicker">Datepicker</a></li><li><a href="#dropdown">Dropdown</a></li><li><a href="#modal">Modal</a></li><li><a href="#pagination">Pagination</a></li><li><a href="#popover">Popover</a></li><li><a href="#progressbar">Progressbar</a></li><li><a href="#rating">Rating</a></li><li><a href="#tabs">Tabs</a></li><li><a href="#timepicker">Timepicker</a></li><li><a href="#tooltip">Tooltip</a></li><li><a href="#typeahead">Typeahead</a></li>
                        </ul>
                    </li>
                    <li><a href="#getting_started">Getting started</a></li>
                </ul>
            </nav>
            <nav class="visible-xs collapse" collapse="!isCollapsed" style="height: 0px;">
                <ul class="nav navbar-nav">
                    <li><a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a></li>
                    <li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Directives</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- <button type="button" class="btn btn-primary" ng-model="buttonTest" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click='getCat()'>
        Single Toggle
    </button>
    <input type='text' name='userName'
           data-ng-model='catData' />
    <div data-ng-bind='catData'> AA </div> -->
    </header>
</div>